/** Add css rules here for your application. */
/* CSS A */
.header {
  padding-left: 0.5em;
}

.sendButton {
  display: block;
  font-size: 16pt;
}

/** Most GWT widgets already have a style name defined */
.gwt-DialogBox {
  width: 400px;
}

.dialogVPanel {
  margin: 5px;
}

.serverResponseLabelError {
  color: red;
}

/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
  margin: 15px 6px 6px;
}

.lblTime {
	font-size: 16pt;
}

.clockWidget {
	position:fixed;
	top:20px;
	right:20px;
	z-index: 1000;
	background-color: white;
}

.timeSlider {
	margin-left: 10px;
}


